/*padding adds space away form the nested elements under the root tag. */
:root{
    --text-color: #a1afc8;
    --bg-color: #18191c;
    --text-color: #5a6770;
    --bg-color: #d9d8d6;
}   

*{  
    padding: 0px;
    margin:0;
    box-sizing: border-box;
}

video{
    width:100%;
    height: auto;
}

img{
    clear: both;
}

h2{
    text-align: left;
    margin: 1em 1em;
}

div{
    display: block;
}

body,html{
    font: 18px Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", sans-serif;
    max-width: 1300px;
    margin: 0 auto;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    letter-spacing: 0.1em;
    background: url("Media/Bilder/tiling\ background.png") repeat;
    animation: left-right 10s linear infinite;
}

@keyframes left-right{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 0 100%;
    }
    100% {
        background-position: 0 0;
    }  
}

article{
    margin: 6em;
}

details{
    float:left;
    clear:both;
}

nav{
    clear:both;
    display: inline;
    text-align: center;
    text-transform: uppercase;
}

nav li{
    width: 25%;
    float: left;
    margin:0 auto;
    padding: 2em;
    line-height: 1.5em;
}

.nav-section{
    float:left;  
    margin: 0 auto;  
    width:100%;
}

p{
    margin: 1em;
}

nav a:link{
    margin: 0 1em;  
    cursor: pointer;
    text-decoration: none;
    background-color: #d9d8d6;
    padding:1em;
    color: #546570;
    border-color:#18191c;
    border: 0.2em solid #5a6770;
}

nav a:active{
    cursor: pointer;
    text-decoration: none;
    background-color: #d9d8d6;
    padding:1.4em;
    color: #546570;
    border-color:#18191c;
    border: 0.3em solid #5a6770;
}

nav a:visited{
    cursor: pointer;
    text-decoration: none;
    background-color: #d9d8d6;
    padding:1em;
    color: #546570;
    border-color:#18191c;
    border: 0.2em solid #5a6770;
}

nav a:hover{
    cursor: pointer;
    text-decoration: none;
    background-color: #d9d8d6;
    padding:1.4em;
    color: #738896;
    border-color:#32343a;
    border: 0.3em solid #7c8e9b;

}

ul li{
    list-style: none;
    display: inline-block;
}

fieldset{

    border-style:none;
}

caption{
    font-size: 2em;
    margin-bottom: 1em;
}

table{
    padding: 0 0.5em;
    margin: 1em auto 0;
}

.table-container{
    float: left;
    width:50%;
    table-layout: fixed;
}

table thead{
    text-transform: uppercase;
}

.table-heading{
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
}

table thead tr th{
    padding: 0.8em;
    vertical-align: top;
    border: 0.05em solid black;
}

table tbody tr td{
    font-size: 0.9em;
    letter-spacing: 0.01em;
    font-weight: normal;
    padding: 0.5em;
    text-align: center;
    border: 1px solid black;
}

.home-page{
    background-color: var(--bg-color);
    z-index: 5;
    color: var(--text-color);
    padding: 1.5em;

}

.project-section{
    display: block;
    width: auto;
    height: 20em;
    margin-bottom: 3em;
    width: 100%;
    
}

.project-items{
    width: 60%;
    float: left;
    text-align: center;
    /* background-color: green; */
}

.aside-section{
    float: right;
    margin-bottom: 2em;
    width: 40%;
    text-align: center;
    /* background-color: red; */
}

.project-item img{
    clear: both;
    width: 100%;
    height:auto;
}



.contact-information{
    position: relative;
    transform:translateY(5em);
    margin-top: 5em;
    clear: both;
    line-height: 1.2em;
    /* background-color:azure; */
    column-count: 1;
}

.contact-form{
    clear: both;
    margin-left: 1em;
    width:100%;
    line-height: 1.2em;
    /* background-color: red; */
}

.contact-form label{
    clear: both;
    float: left;
}

.forms{
    margin: 0.5em auto;
}

.form-item{
    /* background-color:pink; */
    text-align: left;
    padding: 0.5em; 
    clear: both;
    resize: none;
}

label{
    width: 100%;
}


.input-fields{
    float: left;
    width: 50%;
    /* background-color: red; */
}

input[type="file"]{
    display: none;
}

input[type="radio"]{
    width: 100%;
    float:left;
}

#yes-no-radio{
}

#ok-button{
    width:5em;
    margin:0 auto;
}

#submitter{
    cursor: pointer;
    margin: 0 auto;
}

#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#myBtn{
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover{
    background: #ddd;
    color: black;
}

.content{
    position: fixed;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.radio-container{
    float:left;
    width: 50%;
    padding-right: 1em;
}

.submit-button{
    margin: 0 auto;
    width: 50%;
}

.input-button{
    margin: 0 auto;
    width: 50%;
}

.input-button label{
    /* background-color: white; */
    border: 0.5em solid;
    cursor: pointer;
}

.message input{
    padding: 1em 0 1em 3em;
    float: left;
    width: 100%;
    background-image: url("Media/Bilder/test.png");
    background-position: 0 9px;
    background-repeat: no-repeat;
    resize: none;
}

.separator{
    height:10em;
    clear:both;
}

.social-section{
    width: 50%;
    float: right;
    /* background-color: red; */
    margin-right: 2em;
}

footer{
    background-color: inherit;
    clear: both;
    text-align: center;
    margin-top: 100vh;
    margin-bottom: 2em;
}

.pre-align{
    /* background-color: yellow; */
    clear:both;
    margin: 3em 0;
}

.message{
    width: 100%;
    /*  background-color: blue; */
}

.message textarea{
    padding: 1em;
    width: 100%;
    height: 6em;
    resize: none;
}

.message textarea:focus{
    background-color:#d3c9b5;
}

.boxes{

    /* background-color: yellow; */
    display: block;
    margin: 0 auto;

}

.boxes .form-item{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    resize: none;
}

.boxes label{
    margin: 0 auto;
}




/* @media screen and (max-width: 1080px){
    body, html{
        width: 100%;
    }
} */


/* Format for devices lower than a 992px */
@media screen and (max-width: 992px){
    body,html{
        width: 100%;
    }

    .aside-section{
        float: right;
        margin-top: 2em;
        width: 100%;
        right: 0;
    }

    .project-section{
        width: 100%;
        text-align: center;
    }


    .project-items{
        width: 100%;
        text-align: center;
    }

    nav li{
    
    }

    .forms{
        column-count: 1;
        margin-bottom: 10em;
    }

    .table-container{
        width:100%;
        margin: 0 auto;
        margin-left: 1em;
    
    }

    table thead{
        display: none;
    }

    caption{
        display:none;
    }

    table, table tbody, table tr, table td{
        display: block;
        width: 100%;
        font-size: 1.1em;
    }

    table tr{
        margin-bottom: 1em;
    }

    table tbody tr td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    
    table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        text-align: left;
        padding-left: 1em;
        font-weight: 600;
        font-size: 1em;
    }
}

.inspiration{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.inspiration h2{
    text-align: center;
}

/* Format for devices with a width lower than 600px */
@media screen and (max-width: 600px){
    body,html{
        width: 100%;
        min-width: 500px;
    }

    nav{
        width: 100%;
        column-count: 1;
        margin: 0 auto;
        text-align: center;
    }

    .project-section{
        width: auto;
        text-align: center;
    }

    .contact-information{
        column-count: 1;
        float: left;
        height: auto;
        vertical-align: top;
    }

    .message{
        
        width: 100%;
    }

    .input-fields{
        width:100%;
    }

    .project-items{
        width: 100%;
    }

    input{
        width:100%;
        float: left;
    }

    .boxes{
        text-align: center;
    }

    .boxes label{
        text-align: center;
        margin: 0 auto;
    }

    .table-container{
        text-align: center; 
    }

    caption{
        display: none;
    }
}
/* This is the syntax to change the styling of classes: . followed by the name of the class.*/
/* Use % when dealing with something like containers or something like that*/
/*
.topbar ul{
     
     background-color: #18191c;
     text-align:center;
     color:#a1afc8;
     width: 80%;
     border:none;
     margin-bottom: 10px;
     height:123px;
     margin:0px auto;
     padding-top: 5px;
     list-style: none;
     position: relative;  
 }
 */

 /*
.bottombar{
     
     background-color: #18191c;
     text-align:center;
     color:#a1afc8;
     width: 80%;
     border:none;
     margin-top: 10px;
     height:123px;
     margin:0px auto;
     padding-bottom: 5px;
    
 }
 */

/*
.sites{
    width: auto;
    border:none;
    margin-bottom: 20px;
    height:123px;
    padding-top:1px;
    margin:0px;

}
*/

/*
.tablecenter{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
*/

/*
table{
    align-self: center;
    text-align: center;
    margin:20%;
    padding: 20%;

}
*/
/*
.projects{
    margin:0px auto;
    background-color: #18191c;
    padding: 10%;
    line-height: 20px;
    text-align:center;
}
*/
