
/*padding adds space away form the nested elements under the root tag. */
:root{
    --text-color: #a1afc8;
    --bg-color: #18191c;
    --text-color: #5a6770;
    --bg-color: #d9d8d6;
}   

*{
    
    padding: 0px;
    margin:0;
    box-sizing: border-box;
}

h2{
    text-align: left;
    margin: 1em 1em;
}

div{
    display: block;
}

body,html{
    background-color: var(--bg-color);
    font: 18px Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", sans-serif;
    max-width: 1300px;
    margin: 0 auto;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    letter-spacing: 0.1em;
}

details{
    float:left;
    clear:both;
}

nav{
    width: 100%;
    column-count: 1;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

nav li{
    margin:0.5em 0.5em;;
    padding: 1em;
    line-height: 1.5em;
}

p{
    margin: 1em;
}

a{
    cursor: pointer;
    text-decoration: none;
}

ul li{
    list-style: none;
    display: inline-block;
}

fieldset{
    border-style:none;

}

caption{
    font-size: 2em;
    margin-bottom: 1em;
}

table{
    padding: 0 0.5em;
    margin: 1em auto 0;
}

.table-container{
    float: left;
    width:50%;
}

table thead{
    text-transform: uppercase;
}

.table-heading{
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
}

table thead tr th{
    padding: 0.8em;
    vertical-align: top;
    border: 0.05em solid black;
}

table tbody tr td{
    font-size: 0.9em;
    letter-spacing: ´0.01em;
    font-weight: normal;
    padding: 0.5em;
    text-align: center;
    border: 1px solid black;
}

.home-page{
    background-color: var(--bg-color);
    z-index: 5;
    color: var(--text-color);
    padding: 1.5em;

}

.project-section{
    display: block;
    width: auto;
    height: 20em;
    margin-bottom: 3em;
    width: 100%;
    
}

.project-items{
    width: 60%;
    float: left;
    text-align: center;
    background-color: green;
}

.aside-section{
    float: right;
    margin-bottom: 2em;
    width: 40%;
    text-align: center;
    background-color: red;
}


.contact-information{
    position: relative;
    transform:translateY(5em);
    margin-top: 5em;
    clear: both;
    line-height: 1.2em;
    background-color:azure;
    column-count: 1;
}

.contact-form{
    margin-left: 1em;
    width:100%;
    line-height: 1.2em;
    background-color: red;
}

.contact-form label{
    clear: both;
}

.forms{
    margin: 0.5em auto;
}

.form-item{
    background-color:pink;
    text-align: center;
    padding: 0.5em; 
    clear: both;
}

label{
    vertical-align: top;
}


.input-fields{
    float: left;
    width: 50%;
    background-color: red;
}

input[type="file"]{
    display: none;
}

#ok-button{
    width:5em;
    margin:0 auto;

}

#submitter{
    cursor: pointer;
}

.input-button{
    margin: 1em;
    
}

.input-button label{
    height: 4em;
    width: 10em;
    padding: 1em;
    background-color: white;
    border: 0.5em solid;
    cursor: pointer;
}

input{
    padding: 15px;
    width: 100%;
    margin: 0 auto;
}

.separator{
    height:10em;
    clear:both;
}

.social-section{
    width: 50%;
    float: right;
    background-color: red;
    margin-right: 2em;
}

footer{
    background-color: inherit;
    clear: both;
    text-align: center;
    margin-top: 100vh;
    margin-bottom: 2em;
}

.pre-align{
    background-color: yellow;
    clear:both;
    margin: 3em 0;
}

.message{
    text-align: left;
    float:right;
    width: 50%;
    background-color: blue;
}

.message textarea{
    width: 100%;
    height: 6em;
}

.boxes{
    text-align: center;
    background-color: yellow;
    width: 100%;

}




/* @media screen and (max-width: 1080px){
    body, html{
        width: 100%;
    }
} */


/* Format for devices lower than a 992px */
@media screen and (max-width: 992px){
    body,html{
        width: 100%;
    }

    .aside-section{
        margin-top: 2em;
        width: 100%;
        text-align: center;
    }

    .project-section{
        width: 100%;
        text-align: center;
    }


    .project-items{
        width: 100%;
        text-align: center;
    }

    nav li{
        clear: none;
    }

    .forms{
        column-count: 1;
        margin-bottom: 10em;
    }

    .table-container{
        width:100%;
        margin: 0 auto;
        margin-left: 1em;
    
    }

    table thead{
        display: none;
    }

    caption{
        display:none;
    }

    table, table tbody, table tr, table td{
        display: block;
        width: 100%;
        font-size: 1.1em;
    }

    table tr{
        margin-bottom: 1em;
    }

    table tbody tr td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    
    table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        text-align: left;
        padding-left: 1em;
        font-weight: 600;
        font-size: 1em;
    }
}

.inspiration{
    text-align: center;
    width: 100;
    margin: 0 auto;
}

.inspiration h2{
    text-align: ce;
}

/* Format for devices with a width lower than 600px */
@media screen and (max-width: 600px){
    body,html{
        width: 100%;
        min-width: 500px;
    }

    nav{
        width: 10em;;
        column-count: 1;
        margin: 0 auto;
        text-align: center;
    }

    .project-section{
        width: auto;
        text-align: center;
    }

    .contact-information{
        column-count: 1;
        float: left;
        height: auto;
        vertical-align: top;
    }

    .message{
        float: left;
        width: 100%;
    }

    .input-fields{
        width:100%;
    }

    .project-items{
        width: 100%;
    }

    input{
        width:100%;
    }

    .boxes{
        float: left;
    }

    .table-container{
        text-align: center;
    }

    caption{
        display: none;
    }
}
/* This is the syntax to change the styling of classes: . followed by the name of the class.*/
/* Use % when dealing with something like containers or something like that*/
/*
.topbar ul{
     
     background-color: #18191c;
     text-align:center;
     color:#a1afc8;
     width: 80%;
     border:none;
     margin-bottom: 10px;
     height:123px;
     margin:0px auto;
     padding-top: 5px;
     list-style: none;
     position: relative;  
 }
 */

 /*
.bottombar{
     
     background-color: #18191c;
     text-align:center;
     color:#a1afc8;
     width: 80%;
     border:none;
     margin-top: 10px;
     height:123px;
     margin:0px auto;
     padding-bottom: 5px;
    
 }
 */

/*
.sites{
    width: auto;
    border:none;
    margin-bottom: 20px;
    height:123px;
    padding-top:1px;
    margin:0px;

}
*/

/*
.tablecenter{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
*/

/*
table{
    align-self: center;
    text-align: center;
    margin:20%;
    padding: 20%;

}
*/
/*
.projects{
    margin:0px auto;
    background-color: #18191c;
    padding: 10%;
    line-height: 20px;
    text-align:center;
}
*/
