#i1{
    background-image: url("/Images/Event-photos/Kraken-11.jpg");
}
#i2{
    background-image: url("/Images/Event-photos/Kraken-13.jpg");
}
#i3{
    background-image: url("/Images/Event-photos/Kraken-14.jpg");
}
#i4{
    background-image: url("/Images/Event-photos/Kraken-16.jpg");
}
#i5{
    background-image: url("/Images/Event-photos/Kraken-24.jpg");
}
#i6{
    background-image: url("/Images/Event-photos/zumba-24.jpg");
}
#i7{
    background-image: url("/Images/Event-photos/zumba-30.jpg");
}
#i8{
    background-image: url("/Images/Event-photos/zumba-38.jpg");
}
#i9{
    background-image: url("/Images/Event-photos/zumba-46.jpg");
}
