.flex-column{
    flex-direction: column;
}

.register{
    height: 65vh;
    display: flex;
    flex-grow: 1;
    background-color:beige;
}

.footer {
    height: 35vh;
    display: flex;
    background-color: #111118;
    text-align: center;
}

.footer img{
    max-width: 87px;
    margin-bottom: 1rem;
}

.button {
    border: solid 2px #ffeed1;
    color: #ffeed1;
    padding: 1rem 1rem;
    text-align: center;
    text-decoration: none;
}

.register .container{
    display: flex;
    flex-grow: 1;
    justify-content: start;
}

.register h2{
    font-size: 40px;
    margin-bottom: 48px;
    color: #111118;
    line-height: 1.1;
}

.sign-up{
    display: flex;
    border-bottom: solid 2px #00b290;
    padding-bottom: 12px;
}

input{
    background: none;
    border: none;
    font-size: 21px;
    font-weight: 300;
    outline: none; 
}

input:focus{
    background: none;
    border: none;
    outline: none;
}

.email-input{
    /*This will tell our input to stretch and fill our available space*/
    flex: 1;
    
}

.form{
    margin: 48px 24px;
}

@media (max-width: 768px){
    .register .container{
        flex-direction: column;
        max-width: 320px;
    }

    .register h2{
        font-size: 30px;
    }

    .form{
        position: relative;
        margin: 24px 0;
    }

    .submit{
        position: absolute;
        transform: translate(-50%, 200%);
        left: 50%;
        border: 3px solid #00b290;
        padding: 5px 10px;
        font-weight: 550;
        font-size: 1.5rem;
    }

    .register{
        height: calc(65vh - 3rem);
    }
    
    .footer {
        height: calc(35vh - 3rem);
        margin-bottom: 6rem;
    }
    
}

@media (min-width: 768px){
    .register .container{
        min-width: 550px;
    }
}

    