@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    font-size: 14px;
    --register-height: 65vh;
    --container-bar-height: 6rem;
}

* {
    padding: 0;
    margin: 0;
    border: none;   
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans',helvetica, sans-serif;
    line-height: 1.5rem;
    font-weight: 400;
    color: #ffeed1;
    background: beige;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: beige;
}

body::-webkit-scrollbar-thumb{
    background: black;
}

.medium-font, .service h3 .date, .button, .register h3, .submit, a,a:visited, a:focus{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    text-align: center;
}

.header-dimensions {
    background: #111118;
    height: 6rem;
}

.header-dimensions nav {
    height: 100%;
}

.header-links {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: end;
    font-size: 1.5rem;
    margin-right: 2rem;
    gap: 0 2rem;
}

.header-links li {
    border: 3px solid #00b290;
    color: #00b290;
    padding: 0.5rem 1rem;
    min-width: 120px;
    text-align: center;
}

.content-bar-margin {
    margin-left: 6rem;
}

.content-bar {
    position: fixed;
    background: #ffeed1;
    transition: width 0.2s ease;
    z-index: 1;
}

.content-bar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    color: #111118;
}

.content-bar-item {
    width: 100%;
}


.content-bar-item:hover {
    cursor: pointer;
}

.content-bar-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.content-bar-link-text {
    display: none;
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.content-bar-link svg {
    min-width: 3rem;
    margin: 0 1.5rem;
}

.semantic-section {
    position: relative;
    height: 100vh;
    display: flex;
}

.section-padding {
    padding: 0 5vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 810px;
    margin: 2rem auto 2rem auto;
}

.intro {
    height: calc(100vh - 6rem);
    background-image: url(../Images/Kraken-24.jpg);
    color: #fff;
}

.intro p {
    font-size: 36px;
    line-height: 1.2;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
}

.logo img {
    max-width: 100%;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        opacity: 1;
    }
}

.appear {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}

.marquee {
    position: absolute;
    top: 3vh;
    left: 0;
    width: 100%;
    font-size: 5vw;
    line-height: 1;
    overflow: hidden;
}

@keyframes moveLeft {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(-2000vw);
    }
}

.marquee span {
    white-space: nowrap;
    display: block;
    position: relative;
    animation: moveLeft 250s infinite;
}

.service-1 {
    background-image: url(../Images/portfolio+2019-10.jpg);
}

.service-2 {
    background-image: url(../Images/Andres+&+Lesbia-176.jpg);
}

.service-3 {
    background-image: url(../Images/Kraken-13.jpg);
}

.service {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.title {
    font-size: 5rem;
    position: absolute;
    font-weight: 600;
    letter-spacing: 5px;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 48px;
    line-height: 1;
}

.center {
    line-height: 1;
    margin-bottom: 6px;
    align-self: center;
}

.page-links {
    display: flex;
    text-align: center;
    min-width: 100%;
    justify-content: space-between;
}

.page-links li {
    width: 15rem;
}

.page-links a {
    font-size: 3rem;
}

a {
    color: inherit;
    text-decoration: none;
}

a,
a:visited,
a:focus {
    text-align: center;
    min-width: 3rem;
}

.container a {
    min-width: 15rem;
    text-align: center;
}

.section-scroll {
    position: absolute;
    left: 50%;
    bottom: 3vh;
    width: 64px;
    height: 32px;
    background-image: url(../Images/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translateX(-50%);
}

.more-button {
    font-size: 1.5rem;
    padding: 0.7rem;
    border: 3px solid #00b290;
    color: #00b290;
    border-radius: 1px;
}

dt,
#about h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #00b290;
    margin-bottom: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

#about, #pricing {
    height: calc(100vh - 6rem);
    background-color: #111118;
    padding: 0 5rem;
    flex-direction: row;
    justify-content: center;
    gap: 7rem;
}

#about article {
    margin-bottom: 2rem;
}

.submit {
    margin-top: 1rem;
    border: none;
}

caption {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

table {
    letter-spacing: 1px;
    font-size: 1rem;
    width: 80%;
    height: 50%;
    table-layout: fixed;
    color: #ffeed1;
    margin: 1rem auto 0 auto;
    text-align: center;
}

td,
th {
    border: 1px solid #00b290;
    padding: 3px 7px;
}

td {
    text-align: center;
}

dt {
    font-weight: 600;
}

#harold-picture {
    object-fit: cover;
    min-height: 30rem;
    max-width: 20rem;
    border: 1px solid #00b290;
}

.sign-up input:focus,
input[type="email"]:focus {
    background-color: #ffeed1;
}

#ei1 {
    background-image: url("../Images/Event-photos/Kraken-11.jpg");
}

#ei2 {
    background-image: url("../Images/Event-photos/Kraken-13.jpg");
}

#ei3 {
    background-image: url("../Images/Event-photos/Kraken-14.jpg");
}

#ei4 {
    background-image: url("../Images/Event-photos/Kraken-16.jpg");
}

#ei5 {
    background-image: url("../Images/Event-photos/Kraken-24.jpg");
}

#ei6 {
    background-image: url("../Images/Event-photos/zumba-24.jpg");
}

#ei7 {
    background-image: url("../Images/Event-photos/zumba-30.jpg");
}

#ei8 {
    background-image: url("../Images/Event-photos/zumba-38.jpg");
}

#ei9 {
    background-image: url("../Images/Event-photos/zumba-46.jpg");
}

#wi1 {
    background-image: url("../Images/Wedding-photos/Andres+&+Lesbia+-1.jpg");
}

#wi2 {
    background-image: url("../Images/Wedding-photos/Andres+&+Lesbia+-3.jpg");
}

#wi3 {
    background-image: url("../Images/Wedding-photos/melvy-14.jpg");
}

#wi4 {
    background-image: url("../Images/Wedding-photos/melvy-15.jpg");
}

#pi1 {
    background-image: url("../Images/Portrait-photos/Cristian+BICI-3.jpg");
}

#pi2 {
    background-image: url("../Images/Portrait-photos/Vashal-5.jpg");
}

#pi3 {
    background-image: url("../Images/Portrait-photos/david+Gonzales-4.jpg");
}

#pi4 {
    background-image: url("../Images/Portrait-photos/Sebastian-3.jpg");
}

#pi5 {
    background-image: url("../Images/Portrait-photos/Gianella-17.jpg");
}

#pi6 {
    background-image: url("../Images/Portrait-photos/Harold+Guitarra-3.jpg");
}

#pi7 {
    background-image: url("../Images/Portrait-photos/harold-1.jpg");
}

#pi8 {
    background-image: url("../Images/Portrait-photos/ike+split+3.jpg");
}

#pi9 {
    background-image: url("../Images/Portrait-photos/iliada-1.jpg");
}

#pi10 {
    background-image: url("../Images/Portrait-photos/KILBER+ZLAP-1.jpg");
}

#pi11 {
    background-image: url("../Images/Portrait-photos/Sebastian.jpg");
}

#pi12 {
    background-image: url("../Images/Portrait-photos/Cristian+BICI-5.jpg");
}

#pi13 {
    background-image: url("../Images/Portrait-photos/david+Gonzales-8.jpg");
}

#pi14 {
    background-image: url("../Images/Portrait-photos/Gianella-8.jpg");
}

#pi15 {
    background-image: url("../Images/Portrait-photos/Gianella-35.jpg");
}

#pi16 {
    background-image: url("../Images/Portrait-photos/harold-2.jpg");
}

#pi17 {
    background-image: url("../Images/Portrait-photos/ike+split-2.jpg");
}

#pi18 {
    background-image: url("../Images/Portrait-photos/ike+split.jpg");
}

#pi19 {
    background-image: url("../Images/Portrait-photos/iliada-9.jpg");
}

#pi20 {
    background-image: url("../Images/Portrait-photos/Narco+Bolivia.jpg");
}

#pi21 {
    background-image: url("../Images/Portrait-photos/Retrado+rgb+Harold-4.jpg");
}

#pi22 {
    background-image: url("../Images/Portrait-photos/Retrado+rgb+Harold-6.jpg");
}

#pi23 {
    background-image: url("../Images/Portrait-photos/Vashal-3.jpg");
}

#photos {
    display: grid;
    margin-top: 1rem;
    width: 100%;
    gap: 1rem;
    background-color: beige;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 50vh;
}

.flex-column{
    flex-direction: column;
}

.register{
    height: 65vh;
    display: flex;
    flex-grow: 1;
    background-color:beige;
}

.footer {
    height: 35vh;
    display: flex;
    background-color: #111118;
    text-align: center;
}

.footer img{
    max-width: 87px;
    margin-bottom: 1rem;
}
.footer p{
    font-size: 0.7rem;
    max-width: 250px;
    margin-top: 0.2rem;
}

.button {
    border: solid 2px #ffeed1;
    color: #ffeed1;
    padding: 1rem 1rem;
    text-align: center;
    text-decoration: none;
}

.register .container{
    display: flex;
    flex-grow: 1;
    justify-content: start;
}

.register h2{
    font-size: 40px;
    color: #111118;
    line-height: 1.1;
}

.sign-up{
    display: flex;
    flex-direction: column;
}

input{
    background: none;
    border: none;
    font-size: 21px;
    font-weight: 300;
    outline: none; 
    border-bottom: 2px solid #00b290;
    padding-bottom: 0.3rem;
}

input:focus{
    background: none;
    border: none;
    outline: none;
}

.email-input{
    flex: 1;
}

.submit{
    border: 3px solid #00b290;
    padding: 5px 10px;
    font-weight: 550;
    font-size: 1.5rem;
    max-width: 10rem;
    align-self: center;
}

label{
    color: #111118;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 768px) {

    .page-links {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        height: 20rem;
    }

    .header-links {
        justify-content: center;
        margin: 0;
    }

    .content-bar {
        bottom: 0;
        width: 100vw;
        height: 6rem;
    }

    .content-bar-list {
        flex-direction: row;
    }

    .content-bar-link {
        justify-content: center;
    }

    .content-bar-margin {
        margin: 0;
    }

    .content-bar:hover .content-bar-link-text {
        display: none;
    }

    .marquee {
        position: relative;
        top: auto;
        left: auto;
        width: 90vw;
        margin-bottom: 24px;
    }

    .semantic-section {
        position: relative;
        max-height: calc(100vh - 6rem);
    }

    .logo {
        max-width: 10rem;
    }


    .logo img {
        display: none;
    }


    .intro {
        height: calc(100vh - 12rem);
    }

    .intro p {
        font-size: 20px;
        text-align: center;
    }

    .scroll-to {
        display: none;
    }

    h2 {
        font-size: 30px;
        text-align: center;
    }

    .center {
        max-width: 300px;
    }

    #about {
        height: calc(100vh - 12rem);
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    dt,
    #about h2 {
        font-size: 1.5rem;
        padding-bottom: 0;
        border-bottom: 2px solid #00b290;
        margin-bottom: 0.7rem;
        font-weight: 600;
        letter-spacing: 0.2rem;
    }

    #harold-picture {
        object-fit: cover;
        min-height: 5rem;
        max-width: 10rem;
    }

    .intro .container {
        height: 100%;
        margin: 0;
    }

    .register .container{
        flex-direction: column;
        width: 80%;
        margin-top: 0;
    }

    .register h2{
        margin-top: 1rem;
        font-size: 30px;
        margin-bottom: 1rem;
    }

    .register{
        height: calc(65vh - 3rem);
    }
    
    .footer {
        height: calc(35vh - 3rem);
        margin-bottom: 6rem;
    }
    
    .footer img{
        max-width: 87px;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 768px) {
    .content-bar {
        top: 0;
        width: 6rem;
        height: 100vh;
    }

    .content-bar:hover {
        width: 16rem;
    }

    .content-bar:hover .content-bar-link-text {
        display: inline;
    }

    .content-bar-item {
        margin: 0;
    }

    .page-links {
        min-width: 100%;
        justify-content: space-between;
        margin-top: 2rem;
        margin-bottom: 8rem;
    }

    .center {
        line-height: 1;
        margin-bottom: 6px;
        align-self: center;
        max-width: 800px;
    }

    .sign-up {
        min-width: 500px;
    }

    .card-tall {
        grid-row: span 2 / auto;
    }

    .card-wide {
        grid-column: span 2 / auto;
    }


    section figure {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0% 20%;
    }

    .register .container{
        min-width: 550px;
        gap:2rem;
    }

    .register .container form, .sign-up{
        flex: 1;
    }

    .submit{
        margin-top: 5rem;
    }

    h3, .container .more-button{
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .in-viewport h3, .in-viewport .container .more-button{
        opacity: 1;
    }
}