:root{
    font-size: 14px;
    --register-height: 65vh;
    --container-bar-height: 6rem;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}
.header-dimensions{
    position:relative;
}

.content-bar-margin{
    margin-left: 6rem;
}

.content-bar{
    position: fixed;
    background: #ffeed1;
    transition: width 0.2s ease ;
    z-index: 1;
}

.content-bar:hover{
    width: 16rem;
}

.content-bar-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;   
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: #111118;

}

.content-bar-item:last-child{
    margin-top:auto;
}

.content-bar-item{
    width: 100%;
    margin: 3rem 0;
}


.content-bar-item:hover{
    cursor: pointer;
}

.content-bar-link{
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
}

ul,ol{
    list-style: none;
}
.content-bar-link-text{
    display: none;
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.content-bar-link svg{
    min-width: 3rem;
    margin: 0 1.5rem;
}

.content-bar:hover .content-bar-link-text{
    display: inline; 
}

.semantic-section {
    height: 100vh;
    display: flex;

}

/*Helper class too add padding to each section*/
.section-padding {
    padding: 0 5vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 810px;
    margin: 5rem auto 6rem auto;
}

.intro {
    background-image: url(/Images/Kraken-24.jpg);
    color: #fff;
}

.intro p {
    font-size: 36px;
    line-height: 1.2;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.logo img {
    max-width: 100%;
    
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        opacity: 1;
    }
}

/* support class to make a section fade in slowly*/
.appear {

    /* Here we set the opacity as a stating point*/
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 2s;

    /*Retains the property values at the end of the animation */
    animation-fill-mode: forwards;
}

.marquee {
    position: absolute;
    top: 3vh;
    left: 0;
    width: 100%;
    font-size: 5vw;
    line-height: 1;
    overflow: hidden;
}


@keyframes moveLeft {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(-2000vw);
    }
}

.marquee span {
    white-space: nowrap;
    /*Span is in-line by default, so here tell it to be block */
    display: block;
    position: relative;
    animation: moveLeft 250s infinite;
}

.service-1 {
    background-image: url(/Images/portfolio+2019-10.jpg);
}

.service-2 {
    background-image: url(/Images/Andres+&+Lesbia-176.jpg);
}

.service-3 {
    background-image: url(/Images/Kraken-13.jpg);
}

.service {
    text-align: center;
    position: relative;
    overflow: hidden;
}


.title{
    font-size: 5rem;
    position: absolute;
    font-weight: 600;
    letter-spacing: 5px;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 48px;
    line-height: 1;
    
}

.center{
    line-height: 1;
    margin-bottom: 6px;
    align-self: center;
    width: 600px;
}

.lineup p {
    font-size: 21px;
}

.lineup li {
    margin-bottom: 24px;
    list-style: none;
}

.page-links{
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 8rem;
 
}

.page-links a{
    font-size: 3rem;
}

a{
    color: inherit;
    text-decoration: none;
    
}

a,a:visited, a:focus{
    text-align: center;
    min-width: 3rem;
}

.container a {
    min-width: 15rem;
    text-align: center;
}

.section-scroll {
    position: absolute;
    left: 50%;
    bottom: 3vh;

    width: 64px;
    height: 32px;

    background-image: url(/Images/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    transform: translateX(-50%);  
}

.more-button{
    font-size: 2rem;
    padding: 0.7rem;
    border:3px solid #ffeed1;
    background-color:#00b290;
    border-radius: 1px;
}

@media only screen and  (max-width: 768px){

    .page-links{
        margin-top: 2rem;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 20rem;
        margin-bottom: 4rem;
    }

    .content-bar{
        bottom: 0;
        width: 100vw;
        height: 6rem;
    }

    .content-bar-list{
        flex-direction: row;
    }

    .content-bar-link{
        justify-content: center;
    }

    .content-bar-margin{
        margin: 0;
    }

    .content-bar:hover .content-bar-link-text{
        display: none; 
    }
    

    .marquee{
        position: relative;
        top: auto;
        left: auto;
        width: 90vw;
        margin-bottom: 24px; 
    }

    .semantic-section{
        max-height: calc(100vh - 6rem);
    }
   
    .logo{
        max-width: 10rem; 
        margin-bottom: 24px;
    }

    .intro p{
        font-size: 20px;
        text-align: center;
    }

    .scroll-to{
        display: none;
    }
    
    h2{
        font-size: 30px;  
    }
}

@media only screen and (min-width: 768px){
    .content-bar{
        top: 0;
        width: 6rem;
        height: 100vh;
    }

}