#i1{
    background-image: url("Images/Wedding-photos/Andres+&+Lesbia+-1.jpg");
}
#i2{
    background-image: url("Images/Wedding-photos/Andres+&+Lesbia+-3.jpg");
}
#i3{
    background-image: url("Images/Wedding-photos/melvy-14.jpg");
}
#i4{
    background-image: url("Images/Wedding-photos/melvy-15.jpg");
}
