/*padding adds space away form the nested elements under the root tag. */
:root{
    --text-color: #a1afc8;
    --bg-color: #18191c;
    --text-color: #5a6770;
    --bg-color: #d9d8d6;
}   

*{
    
    padding: 0px;
    margin:0;
    box-sizing: border-box;
}

body,html{
    background-color: var(--bg-color);
    font-size: 16px; 
    background-size: cover;   
}

nav{
    clear: both;
    display:inline-block;
    text-align: center;
    text-transform: uppercase;
}

.nav-bucket{
    text-transform: uppercase;
    
}

nav li{
    margin:2em;
    padding: 1em;
    line-height: 1.5em;
}

a{
    cursor: pointer;
    text-decoration: none;
}

ul li{
    list-style: none;
    display: inline-block;
}

fieldset{
    border-style:none;

}

.home-page{
    background-color: var(--bg-color);
    z-index: 5;
    text-align: center;
    color: var(--text-color);
    height: 100vh;
    margin: 0 auto;

}

.project-items{
    width: 65%;
    float: left;
    text-align: left;
    margin-left: 2em;
}

.aside-section{
    float: right;
    width:30%;
    margin-bottom: 2em;
}

.project-section{
    width: 100%;
    height: 20%;
    margin-bottom: 3em;
}


.project-item{

}

.contact-information{
  
    margin-top: 2em;
    clear:both
}
.contact-form{
    width:50%;
    float: left;
    text-align: left;
    margin-left: 2em;
}

.social-section{
    width: 50%;
    float: right;
    background-color: red;
}

footer{
    background-color: inherit;
    clear: both;
    position:absolute;
    bottom: 2em;
    width: 100%;
    text-align: center;
    margin-top: 100vh;
}

.pre-align{
    background-color: yellow;
    clear:both;
    margin: 3em 0;
}


/* Format for devices lower than a 992px */
@media screen and (max-width: 992px){
    .home-page{
        width: 100%;
    }

}

/* Format for devices with a width lower than 600px */
@media screen and (max-width: 600px){
    .home-page{
        width: 100%;
    }
}
/* This is the syntax to change the styling of classes: . followed by the name of the class.*/
/* Use % when dealing with something like containers or something like that*/
/*
.topbar ul{
     
     background-color: #18191c;
     text-align:center;
     color:#a1afc8;
     width: 80%;
     border:none;
     margin-bottom: 10px;
     height:123px;
     margin:0px auto;
     padding-top: 5px;
     list-style: none;
     position: relative;  
 }
 */

 /*
.bottombar{
     
     background-color: #18191c;
     text-align:center;
     color:#a1afc8;
     width: 80%;
     border:none;
     margin-top: 10px;
     height:123px;
     margin:0px auto;
     padding-bottom: 5px;
    
 }
 */

/*
.sites{
    width: auto;
    border:none;
    margin-bottom: 20px;
    height:123px;
    padding-top:1px;
    margin:0px;

}
*/

/*
.tablecenter{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
*/

/*
table{
    align-self: center;
    text-align: center;
    margin:20%;
    padding: 20%;

}
*/
/*
.projects{
    margin:0px auto;
    background-color: #18191c;
    padding: 10%;
    line-height: 20px;
    text-align:center;
}
*/
