/*padding adds space away form the nested elements under the root tag. */
:root{
    --text-color: #a1afc8;
    --bg-color: #18191c;
    --text-color: #5a6770;
    --bg-color: #d9d8d6;
}   

*{
    
    padding: 0px;
    margin:0;
    box-sizing: border-box;
}

div{
    display: block;
}

body,html{
    background-color: var(--bg-color);
    font-size: 16px; 
    background-size: cover;   
    max-width: 1080px;
    margin: 0 auto;
}

nav{
    clear: both;
    display:inline-block;
    text-align: center;
    text-transform: uppercase;
}

.nav-bucket{
    text-transform: uppercase;
    
}

nav li{
    float: left;
    margin:0;
    padding: 0em;
    line-height: 1.5em;
}

a{
    cursor: pointer;
    text-decoration: none;
}

ul li{
    list-style: none;
    display: inline-block;
}

fieldset{
    border-style:none;

}

.home-page{
    background-color: var(--bg-color);
    z-index: 5;
    text-align: center;
    color: var(--text-color);
    padding: 1.5em;

}

.project-section{
    display: block;
    width: auto;
    height: 20%;
    margin-bottom: 3em;

}

.project-items{
    width: 60%;
    float: left;
    text-align: left;
    background-color: green;
}

.aside-section{
    position: absolute;
    float: right;
    width:40%;
    margin-bottom: 2em;
    text-align:right;
    background-color: red;
}



label{
    padding: 3em 0;
}


.contact-information{
    clear: both;
    margin-top: 5em;
    width: 100%;
    height: 10em;
    line-height: 1.2em;
    background-color:azure;
}

.contact-form{
    display: block;
    margin-top: 5em;
    width:100%;
    text-align: left;

    line-height: 1.2em;
    column-width:15em;
}

.social-section{
    width: 50%;
    float: right;
    background-color: red;
    margin-right: 2em;
}

footer{
    background-color: inherit;
    clear: both;
    text-align: center;
    margin-top: 100vh;
    margin-bottom: 2em;
}

.pre-align{
    background-color: yellow;
    clear:both;
    margin: 3em 0;
}
@media screen and (max-width: 1080px){
    body, html{
        width: 100%;
    }
}


/* Format for devices lower than a 992px */
@media screen and (max-width: 992px){
    body,html{
        width: 100%;
    }

    .aside-section{
        float: left;
        width: 100%;
        text-align: center;
    }

    .project-section{
        width: 100%;
        text-align: center;
    }

    .project-items{
        width: 100%;
        text-align: center;
    }

}

/* Format for devices with a width lower than 600px */
@media screen and (max-width: 600px){
    body,html{
        width: 100%;
        min-width: 500px;
    }

    nav{
        column-count: 1;
        
    }

    nav li{
        float: left;
    }
}
/* This is the syntax to change the styling of classes: . followed by the name of the class.*/
/* Use % when dealing with something like containers or something like that*/
/*
.topbar ul{
     
     background-color: #18191c;
     text-align:center;
     color:#a1afc8;
     width: 80%;
     border:none;
     margin-bottom: 10px;
     height:123px;
     margin:0px auto;
     padding-top: 5px;
     list-style: none;
     position: relative;  
 }
 */

 /*
.bottombar{
     
     background-color: #18191c;
     text-align:center;
     color:#a1afc8;
     width: 80%;
     border:none;
     margin-top: 10px;
     height:123px;
     margin:0px auto;
     padding-bottom: 5px;
    
 }
 */

/*
.sites{
    width: auto;
    border:none;
    margin-bottom: 20px;
    height:123px;
    padding-top:1px;
    margin:0px;

}
*/

/*
.tablecenter{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
*/

/*
table{
    align-self: center;
    text-align: center;
    margin:20%;
    padding: 20%;

}
*/
/*
.projects{
    margin:0px auto;
    background-color: #18191c;
    padding: 10%;
    line-height: 20px;
    text-align:center;
}
*/
