/*padding adds space away form the nested elements under the root tag. */
*{
    padding: 9px ;
    margin:0;
}


body{
    background-color:#18191c;
    color: #a1afc8;
    font-family: 'georgia', Times, serif;
    font: 12px;
    

    /* Same as above */
    font: normal 16px 'Times New Roman', serif;
    /* EM is a unit used for more response type websites */
    line-height:  1.6em;
    margin:20px;
}



/* This is the syntax to change the styling of classes: . followed by the name of the class.*/
/* Use % when dealing with something like containers or something like that*/
.topbar{
     
     background-color: #18191c;
     text-align:center;
     color:#a1afc8;
     width: 560px;
     border:none;
     margin-bottom: 20px;
     height:123px;
     margin:0px auto;
     padding-top: 2px;
    
 }

.sites{
    width: 560px;
    border:none;
    margin-bottom: 20px;
    height:123px;
    padding-top:2px;
    margin:0px;

}
.projects{
    margin:0px auto;
    background-color: #18191c;
    padding: 10%;
    line-height: 20px;
    text-align:center;
}
